In [1]:
import pandas as pd

C:\Users\raghav.aggarwal\AppData\Local\Temp\ipykernel_20196\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data=pd.read_csv("nba.csv")
data.dropna(inplace=True)#used to drop null value contaioning rows from the given data set 
start, stop, step = 0, -2, 2

In [3]:
data["Name"]= data["Name"].str.slice(start, stop, step) 
data.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,AeyBal,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,JeCod,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,RJ ut,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jra ik,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,KlyOy,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,TryRz,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Mru m,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,JrdSlig,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Iaa hm,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Ea un,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0